html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    overflow: crop;
}

@font-face {
    font-family: "Touch Sans One";
    src: url('tailwind_theme/fonts/TouchSansOne-Regular.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "Touch Sans One";
    src: url('tailwind_theme/fonts/TouchSansOne-Bold.woff') format('woff');
    font-weight: 700;
}

.blur1 {
    background-color: rgba(255, 255, 255, 0.624);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

body {
    -webkit-font-smoothing: all 500ms;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
    font-family: "Touch Sans One", serif;
    transition: all 0.2s ease,;
    line-height: 160%;
}

.logo {
    padding: 0;
    width: 2rem;

    /* background-repeat: no-repeat */
    /* display: flex */
    /* vertical-align: baseline */
    /* resize: both */
    /* box-sizing: content-box */
    /* float: none */
    /* clear: both */
    /* background-position: left center */
    /* background-size: -89px */
    /* flex-direction: row */
    /* align-items: center */
    /* justify-content: flex-start */
    /* gap: 23px */
    /* row-gap: 26px */
    /* max-width: 6rem */
    /* max-width: -9rem */
    /* padding: 1rem */
    /* position: left */
    /* left: 0 */
    transform: translateY(-0.1rem);
    margin-right: 1rem;
}

.op0 {
    opacity: 0;
}

.bold {
}

.py7 {
    padding: 3rem 0;
}

.lll {
}

.gard {
    background: rgb(245,213,101);
    background: -moz-linear-gradient(45deg, rgba(245,213,101,1) 0%, rgba(255,255,255,1) 50%, rgba(112,163,243,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(245,213,101,1) 0%, rgba(255,255,255,1) 50%, rgba(112,163,243,1) 100%);
    background: linear-gradient(45deg, rgba(245,213,101,1) 0%, rgba(255,255,255,1) 50%, rgba(112,163,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5d565",endColorstr="#70a3f3",GradientType=1);
}

